<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>start</key>
		<array>
			<string>ASSegmentDirectionDownLeft</string>
			<string>ASSegmentDirectionLeft</string>
		</array>
		<key>ASSegmentDirectionDownLeft</key>
		<array>
			<string>ASSegmentDirectionDown</string>
			<string>ASSegmentDirectionDownRight</string>
		</array>
		<key>ASSegmentDirectionLeft</key>
		<array>
			<string>ASSegmentDirectionDownLeft</string>
			<string>ASSegmentDirectionDown</string>
		</array>
		<key>ASSegmentDirectionDown</key>
		<array>
			<string>ASSegmentDirectionDownRight</string>
			<string>ASSegmentDirectionRight</string>
		</array>
		<key>ASSegmentDirectionDownRight</key>
		<array>
			<string>ASSegmentDirectionRight</string>
		</array>
		<key>end</key>
		<array>
			<string>ASSegmentDirectionDownRight</string>
			<string>ASSegmentDirectionRight</string>
		</array>
	</dict>
	<dict>
		<key>start</key>
		<array>
			<string>ASSegmentDirectionDownLeft</string>
			<string>ASSegmentDirectionLeft</string>
		</array>
		<key>ASSegmentDirectionDownLeft</key>
		<array>
			<string>ASSegmentDirectionDown</string>
			<string>ASSegmentDirectionDownRight</string>
		</array>
		<key>ASSegmentDirectionLeft</key>
		<array>
			<string>ASSegmentDirectionDownLeft</string>
			<string>ASSegmentDirectionDown</string>
		</array>
		<key>ASSegmentDirectionDown</key>
		<array>
			<string>ASSegmentDirectionDownRight</string>
			<string>ASSegmentDirectionRight</string>
		</array>
		<key>ASSegmentDirectionDownRight</key>
		<array>
			<string>ASSegmentDirectionRight</string>
		</array>
		<key>end</key>
		<array>
			<string>ASSegmentDirectionDownRight</string>
			<string>ASSegmentDirectionRight</string>
		</array>
	</dict>
</array>
</plist>